*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:hsl(240, 73%, 65%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    
}
/* DIV with all elements of the page*/
.main{ 
    display: flex;
    height: 500px;
    align-items: center;
    background-color: white;
    overflow: hidden;  
    border-radius: 20px;
}
/*Images*/
.pictures{
    display: flex;
    flex-direction: column;
    width: 500px;
}
#woman{
    position: relative;
    left: -80px; 
    top: 240px; 
    z-index: 1;  
}
#box{
    position: absolute;
    left: 126px;
    top: 257px;
    z-index: 2;
}

#pattern{
    border: 1px solid black;
    position: relative;
    transform: scale(1.35,1.35);
    top: -212px;
    left: -182px;
}

/* DIV with all question and answers of the page*/
.FAQ{ 
    position: relative;
    left: -20px;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    text-align: justify;
    width: 410px;
    height: 400px;
 }
/*box Question*/
h1{
    text-align: left;
    margin-bottom: 30px;
}
.box-qts{
    margin: 33px 0 33px 0;
    border: 1px solid blue;
}
/* Question*/
button{
    padding-bottom: 10px;
    display: inline-flex;
    justify-content:space-between;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(21, 221, 98);
    width:350px;    
}
/* Answers*/
.ans {
    display:none;
}

/* show the answers*/
.showup{
    display: block;
}
