*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:hsl(240, 73%, 65%);
    
}
/* DIV with all elements of the page*/
.main{ 
    border: 2px solid yellow;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* DIV with all question and answers of the page*/
.FAQ{ 
    background-color: white;
    border: 1px solid black;
    text-align: center;
    width: fit-content;
    height: fit-content;
 }
/* Question*/

/* Answers*/
.ans {
    display:none;
}

/* show the answers*/
.showup{
    display: block;
}
